* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

/* Header  */
header {
  position: relative;
  margin: 0 auto;
}

header h1 {
  font-size: 70px;
  color: blue;
  text-align: center;
}

.buttons {
  padding-top: 30px;
  text-align: center;
}

button {
  width: 80px;
  background-color: green;
  color: white;
  border-radius: 20px;
  border: none;
}

select {
  width: 80px;
  text-align: center;
  background-color: green;
  color: white;
  border-radius: 20px;
  border: none;
}

/* Main  */
.main-wrapper {
  height: 800px;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: white;
}

.container {
  display: none;
  flex-wrap: wrap;
  width: 700px;
  height: 700px;
  background-color: yellow;
  border: 3px solid black;
}

.container.end {
  background-color: rgba(0, 0, 0, 0.5);
}

.square {
  width: calc(100% / 10);
  aspect-ratio: 1 / 1;
  border: 2px solid black;
}

.square.clicked {
  background-color: lightcyan;
}

.square span {
  display: none;
}

.square.clicked span {
  display: block;
}

.none  {
  display: flex;
}

.square.redbomb {
  background-color: red;
}

h2 {
  text-align: center;
  padding: 5px;
}